body {
  font-family: "courier new";
}

input[type="text"] {
  display: block;
  width: 100%;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  font-family:inherit;
  padding: .5rem 1rem;
  font-size: 1.25rem;
}

input[type="text"]:focus {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

.list-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}
.list-group-item {
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
}

table {
  border: 1px solid rgba(0,0,0,.125);
  width: 100%;
  border-collapse: collapse;
}

td, th {
  text-align: left;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.125);
}
